html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 1px;
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 1140px) {
        width: 95%;
    }
}

.flex-container {
    display: flex;
}

#app {
    min-height: 100vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.75) fixed;
    background-size: cover;
}

h1 {
    color: $primaryColor;
    text-transform: uppercase;
    font-size: 3.6rem;
    margin: 0;
}

h2 {
    color: $secondaryColor;
    font-size: 1.8rem;
}

p, a, input, select {
    font-size: 1.2rem;
}

button {
    background: $primaryColor;
    border: none;
    text-transform: uppercase;
    border-radius: 2.5px;
    color: #fff;
    &:hover {
        background: $secondaryColor;
        transition: background 0.4s ease;
    }
    a {
        color: #fff;
    }
}

.return-home-btn {
    margin: 10px 10px 0 0;
}