html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 10px;
}

.wrapper {
    padding: 1px;
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 1140px) {
        width: 95%;
    }
}

.flex-container {
    display: flex;
}

#app {
    min-height: 100vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.75) fixed;
    background-size: cover;
}

h1 {
    color: $primaryColor;
    text-transform: uppercase;
    font-size: 3.6rem;
    margin: 0;
}

h2 {
    color: $secondaryColor;
    font-size: 1.8rem;
}

p, a, input, select {
    font-size: 1.2rem;
}

button {
    background: $primaryColor;
    border: none;
    text-transform: uppercase;
    border-radius: 2.5px;
    color: #fff;
    &:hover {
        background: darken($primaryColor, 20);
        transition: background 0.4s ease;
    }
    a {
        color: #fff;
    }
}

.return-home-btn {
    margin: 20px 10px 10px 0;
}

.fullPage {
    text-align: center;
    height: 100vh;
    padding: 1px;
    margin-top: 300px;
}

.tile {
    background: #fff;
    @media (min-width: 320px) {
        width: 100%;
        margin-bottom: 10px;
    }
    @media (min-width: 480px) {
        width: calc(50% - 5px);
        margin-right: 10px;
        padding: 10px 15px;
        &:nth-child(2n) {
            margin-right: 0;
        }
        button {
            margin-bottom: 5px;
            &:last-child { 
                margin-bottom: 0;
            }
        }
    }
    span {
        font-weight: 700;
    }
    button {
        margin-right: 10px;
        padding: 8px 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}