.form__inputs {
    justify-content: center;
    flex-wrap: wrap;
}

.form__inputs > * {
    margin-right: 5px;
    &:last-child {
        margin-right: 0;
    }
    @media (max-width: 642px) {
        width: calc(50% - 2.5px);
    }
}

.location-input {
    @media (max-width: 642px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2.5px;
    }
}

input {
    border-radius: 2.5px;
    border: none;
    padding: 10px;
}

select {
    height: 35px;
}

.form__search-btn {
    padding: 7.5px 15px;
}