.restaurants__list, .meetups__list {
    flex-wrap: wrap;
}

.meetups__item {
    @include tile;
    &:hover {
        transform: scale(1.05);
        transition: transform 0.4s ease;
    }
    padding: 15px 30px;
    @media (min-width: 840px) {
        width: calc(33.33% - 6.67px);
        &:nth-child(2n) {
            margin-right: 10px;
        }
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }
    h2 {
        margin-top: 0;
    }
}

.meetups__venue {
    font-style: italic;
}