.restaurants__item {
    @include tile;
    &:hover {
        transform: scale(1.10);
        transition: transform 0.4s ease;
    }
    padding: 15px 25px;
    @media (min-width: 600px) {
        width: calc(33.33% - 6.67px);
        &:nth-child(2n) {
            margin-right: 10px;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    @media (min-width: 921px) {
        width: calc(25% - 7.5px);
        &:nth-child(3n) {
            margin-right: 10px;
        }
        &:nth-child(4n) {
            margin-right: 0px;
        }
    }
}