$primaryColor: #f49e4c;
$secondaryColor: #3b8ea5;

@mixin tile {
    background: #fff;
    // margin-bottom: 10px;
    // margin-right: 10px;
    span {
        font-weight: 700;
    }
    button {
        margin-right: 10px;
        padding: 8px 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}